<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>

<body>
  <%- include('partials/navbar', {page: '/about'}) %>
<body>
  
    
    <div class="container mx-auto">

        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <div>
                <h1 class="text-5xl font-bold">ABOUT ME!</h1>
              </div>
            </div>
          </div>


        <div class="grid grid-cols-2 gap-2 text-center p-4">
            <div class="flex justify-center items-center">
                <img src="https://static.tildacdn.com/tild3830-3334-4532-b361-326134363539/stay_focused_girl.jpg" alt="Determind" class="rounded-lg shadow-xl" width="300" height="300" />
            </div>

            <div class="flex justify-center items-center flex-wrap">
                <p> Hello and Welcome! 
                My name is Siya Khanna and I am currently enrolled in my 3rd semester of Computer Programming @ 
                Seneca Polytechnic College. I am working on my WEB322 assignmnet and in this assignment I have worked with tailwind and how to install
                tailwind and daisyUI. In this advanced course of WEB322 I am learning how to use tailwind and automatically 
                build my "main.css" file which can be re-generated and updated by using a few terminal commands.

                
            <ul> Here's to knowing a little more about me :>
                <li>I prefer spending most of time with family and friends</li>
                <li>I enjoy to discover new countryside cafes (just love COFFEE!!)</li>
                <li>I'm a little more towards the creative side then being studious, however, I do enjoy learning new ways and techniques to 
                    upgrade my skills.
                </li>
            </ul></p>
            </div>
        </div>
          
          

</div>

</body>
</html>