<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar') %>
  
    <!-- Hero section -->
    <div class="hero min-h-svh" style="background-image: url('your-background-image-url');">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <p>Get the detailed information about Lego sets.</p>
          <a href="/lego/sets" class="btn btn-primary">Discover More</a>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure><img src="https://cdn.rebrickable.com/media/thumbs/sets/001-1/11530.jpg/1000x800p.jpg?1657531528.3084338" alt="LEGO SET 001-1 - Gears" /></figure>
          <div class="card-body">
            <h2 class="card-title">LEGO SET 001-1 - Gears</h2>
            <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/10267-1" class="btn btn-primary">VIEW</a>
            </div>
          </div>
        </div>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure><img src="https://cdn.rebrickable.com/media/thumbs/mocs/moc-48742.jpg/1000x800.jpg?1664988512.6387165" alt="MOC - Jeep Wrangler Rubicon JL mini" /></figure>
          <div class="card-body">
            <h2 class="card-title">MOC - Jeep Wrangler Rubicon JL mini</h2>
            <p>Lego technic mini Jeep Wrangler JL. Model was made for Eurobricks TC18 contest on Eurobricks. 1st place.
                <ul><h2>Features:</h2></ul>
                <li>Fully working torsion suspension (live axles)</li>
                <li>Openable hood and all doors</li>
                <li>Removable side doors</li>
                <li>Detailed interior</li> 
                <li>Working steering wheel</li>
                <li>glovebox</li> 
                <li>4-speed gearbox</li>
                <li>Fake engine</li>
                <li>Detailed design</li>
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/002-1" class="btn btn-primary">VIEW</a>
            </div>
          </div>
        </div>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure><img src="https://cdn.rebrickable.com/media/thumbs/mocs/moc-135704.jpg/1000x800.jpg?1695732370.497087" alt="MOC - 21322 Pirates ship extended" /></figure>
          <div class="card-body">
            <h2 class="card-title">MOC - 21322 Pirates ship extended</h2>
            <p>This MOC are extended version of the ship of set 21322 Pirates of Barracuda Bay. For this MOC all you need is to buy only 146 extra parts that are not in 21322 Pirates of Barracuda Bay</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/1054-1" class="btn btn-primary">VIEW</a>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>

</body>
</html>